@font-face {font-family: inter; src: url('fonts/Inter/Inter-VariableFont_slnt,wght.ttf');}
h1 { font-family: inter; }
h2 { font-family: inter; }
h3 { font-family: inter; }
h4 { font-family: inter; }
a { font-family: inter;
    text-decoration: none;}
body { 
font-family: inter;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
background-color: black;
color: white;
margin: 0;
padding: 0;
}
.container { 
max-width: 800px;
margin: 0 auto;
padding: 20px;
}
header, article { margin-bottom: 20px; }
article { border-bottom: 1px solid #ccc; padding-bottom: 20px; }
a { text-decoration: none; color: white;}
a:hover { text-decoration: underline; }
div {
padding: 15px;
background-color: black;
color: white;
margin: 0;
}
h1 {
	margin: 0;
}

.blogHeader {
	text-align: center;
	background-color: black;
	color: white;
	text-align: center;
	margin: 0;
	padding: 50px;
}

.blogPost {
	text-align: left;
	background-color: black;
	color: white;
	margin: 0;
	padding: 20px;
}

.blogTitle {
	text-align: center;
	background-color: black;
	color: white;
	margin: 0;
	padding: 20px;
}

.interestsClass { 
	text-align: center;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.rightJustified {
text-align: right;
}
.leftJustified {
text-align: left;
}
.centerJustified {
text-align: center;
}

.eframe-close-button, .eframe-toolbar {
    display: none !important;
}

/* Add these rules at the end of your style.css file */
.eframe-close-button, 
.eframe-toolbar,
.eframe-titlebar {
    display: none !important;
}

#counter-canvas {
    border: none !important;
    outline: none !important;
}

/* Add these new styles to your existing style.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.page-title, .page-subtitle {
    text-align: center;
    margin-bottom: 30px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.image-container img {
    margin: 0 10px;
}

.link-box {
    background-color: #333; /* Dark grey background */
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    margin-bottom: 30px;
    max-width: 600px; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;
}

.link-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: white; /* Ensure the title is visible on dark background */
}

.link-box a, .link-box p {
    display: block;
    text-align: center;
    color: white; /* Ensure links and text are visible on dark background */
}

.link-box a:hover {
    color: #ddd; /* Lighter color on hover for better user feedback */
}

.interestsClass {
    display: block;
    margin: 0 auto;
}
