
@font-face {font-family: inter; src: url('fonts/Inter/Inter-VariableFont_slnt,wght.ttf');}
h1 { font-family: inter; }
h2 { font-family: inter; }
h3 { font-family: inter; }
h4 { font-family: inter; }
a { font-family: inter; }
body { 
font-family: inter;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
div {
padding: 15px;
background-color: black;
color: white;
margin: 0;
}
h1 {
	margin: 0;
}
.interestsClass { 
	align: center;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.rightJustified {
text-align: right;
}
.leftJustified {
text-align: left;
}
.centerJustified {
text-align: center;
}
